@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
  background-color: #1d1d1d;
  margin: 5px;
  text-align: center;
}

.vertCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1
}

h1 {
  font-family: "droid serif", sans-serif;
  font-weight: normal;
  color: #FFF;
  font-size: 4rem;
  z-index: 4
}

h2 {
  font-family: "Abril Fatface", sans-serif;
  color: #FFF;
  font-size: 6rem;
  z-index: 3
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5%;
  width: 100%;
  /* overflow: hidden; */
}

h3 {
  font-family: "droid serif", sans-serif;
  color: #FFF;
  font-size: 4rem;
  z-index: 2
}